{% extends 'base.html' %}
{% block content %}
{% load static %}
    <link href="{% static 'css/travel.css' %}" rel="stylesheet" type="text/css"/> 
    <script src="./travel.js"> </script>

  <div class="contents_wrap">
    <div class="article">
        <h3 class="title_sub2 mb20">해외패키지 MD추천</h3>
        <ul class="tab_wrap tab_style01 col6 mb30 travel_md_tab">
            <li class="activate" rel="travelMD01">
                <a href="{% url 'southEastAsia' %}" title>동남아</a>
            </li>
            <li rel="travelMD02" class>
                <a href="{% url 'asia' %}" title>아시아</a>
            </li>
            <li rel="travelMD03" class="activate">
              <a href="{% url 'southPacific' %}" title>남태평양</a>
          </li>
          <li rel="travelMD04" class>
              <a href="{% url 'europe' %}" title>유럽</a>
          </li>
          <li rel="travelMD05" class>
              <a href="{% url 'americas' %}" title>미주</a>
          </li>
        </ul>

          <div class="tab_contents mb80">
              <!--아시아 리스트-->
              <ul class="travel_list col3 clear travel_md_list" id="travelMD02" style>
                <li>
                    <a href="#">
                        <dl class="travel_info">
                            <dt><img src="{% static 'img/travel_md_tab02_01.jpg' %}" alt="청도"></dt>
                            <dd class="txt">
                                <p>[찾았다!특가] 청도 완전정복 3일</p>
                            </dd>
                            <dd class="price"><span>139,000</span>원~</dd>
                        </dl>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <dl class="travel_info">
                            <dt>
                                <img src="{% static 'img/travel_md_tab02_02.jpg' %}" alt="북경">
                            </dt>
                            <dd class="txt">
                                <p>북경 4일</p>
                            </dd>
                            <dd class="price"><span>223,200</span>원~</dd>
                        </dl>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <dl class="travel_info">
                            <dt><img src="{% static 'img/travel_md_tab02_03.jpg' %}" alt="제남태항산"></dt>
                            <dd class="txt">
                                <p>제남/태항산 5일</p>
                            </dd>
                            <dd class="price"><span>359,000</span>원~</dd>
                        </dl>
                    </a>
                </li>
            </ul>
            <ul class="travel_list col3 clear travel_md_list" id="travelMD03" style>
                <li>
                    <a href="#">
                        <dl class="travel_info">
                            <dt><img src="{% static 'img/travel_md_tab03_01.jpg' %}" alt="큐슈"></dt>
                            <dd class="txt">
                                <p>큐슈 3일</p>
                            </dd>
                            <dd class="price"><span>396,800</span>원~</dd>
                        </dl>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <dl class="travel_info">
                            <dt>
                                <img src="{% static 'img/travel_md_tab03_02.jpg' %}" alt="오키나와">
                            </dt>
                            <dd class="txt">
                                <p>오키나와 3일</p>
                            </dd>
                            <dd class="price"><span>589,000</span>원~</dd>
                        </dl>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <dl class="travel_info">
                            <dt><img src="{% static 'img/travel_md_tab03_03.jpg' %}" alt="오사카"></dt>
                            <dd class="txt">
                                <p>오사카/나라/교토/고베 3일</p>
                            </dd>
                            <dd class="price"><span>613,400</span>원~</dd>
                        </dl>
                    </a>
                </li>
            </ul>
          </div>        
      <!--해외항공추천-->
      <div class="article">
        <h3 class="title_sub2 mb20">해외항공 MD추천</h3>
    
        <div class="tab_contents mb80">
            <ul class="travel_list col3 clear">
                <li>
                    <a href="#">
                        <dl class="travel_info">
                            <dt><img src="{% static 'img/travel_outfly_01.png' %}" alt="남다른 유럽의 발견"></dt>
                            <dd class="txt">
                                <p>남다른 유럽의 발견</p>  
                            </dd>                      
                        </dl>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <dl class="travel_info">
                            <dt>
                                <img src="{% static 'img/travel_outfly_02.png' %}" alt="또 가고 싶은 일본">
                            </dt>
                            <dd class="txt">
                                <p>또 가고 싶은 일본</p>     
                            </dd>    
                        </dl>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <dl class="travel_info">
                            <dt><img src="{% static 'img/travel_outfly_03.png' %}" alt="괌 사이판 동남아 특가"></dt>
                            <dd class="txt">
                                <p>괌 사이판 동남아 특가</p>        
                            </dd>     
                        </dl>
                    </a>
                </li>
                <!-- ::after -->
            </ul>
        </div>
    </div>
    <!--해외호텔추천-->
    <div class="article">
    <h3 class="title_sub2 mb20">해외호텔 MD추천</h3>
    <div class="tab_contents mb80">
    <ul class="travel_list col3 clear">
    <li>
        <a href="#">
            <dl class="travel_info">
                <dt><img src="{% static 'img/travel_hotel_10.png' %}" alt="MARIBAGO BLUEWATER BEACH RESORT"></dt>
                <dd class="txt">
                    <p>세부 MARIBAGO BLUEWATER BEACH<br>RESORT</p>
                </dd>
            </dl>
        </a>
    </li>
    <li>
        <a href="#">
            <dl class="travel_info">
                <dt>
                    <img src="{% static 'img/travel_hotel_11.png' %}" alt="CAESAR METRO TAIPEI">
                </dt>
                <dd class="txt">
                    <p>타이페이 CAESAR METRO TAIPEI</p>
                </dd>
            </dl>
        </a>
    </li>
    <li>
        <a href="#">
            <dl class="travel_info">
                <dt><img src="{% static 'img/travel_hotel_12.png' %}" alt="HOTEL GRACERY SHINJUKU"></dt>
                <dd class="txt">
                    <p>도쿄 HOTEL GRACERY SHINJUKU</p>
                </dd>
            </dl>
        </a>
    </li>
    <!-- ::after -->
    </ul>
    </div>
    </div>
    </div>
    {% endblock %}
