{% extends 'base.html' %}
{% block content %}
<style>
    .ex1 {
        /* border: 2px solid black; */
        width: 900px;
        height: 100px;
        margin:0 auto; 
        margin-top:30px;
        padding-top:30px;
        
    }
    .ex2{
        margin-top:50px;
    }
    .ex3{
        margin-top:100px;
    }
    .check{
        font-weight: bold;
        font-size: large;
    }

    .quote {
        height: 40px;
        width: 40px;
    }

    h1{
        font-weight: bold;
        margin-top: 50px;
    }
</style>
<h1>YOLOWA란?</h1>
<div class="ex1">
    <h3>
        YOLO족을 위한 서비스로<br>
        YOLO란 '인생은 한 번뿐이다!'를 뜻하는<br> YOU ONLY LIVE ONCE의 줄임말로<br>
        자신의 행복을 가장 중요시하여 소비하는 태도를 말합니다.
    </h3>
</div>
<br><br><br><br>
<div class="ex2">
<span class="check">YOLOWA 서비스는</span><br>
1.현재 자신의 행복을 위해 소비를 하고자 할 때<br>
2.삶의 질을 높여줄 수 있는 여행, 건강 등의 정보를 알고 싶을 때<br>
3.오늘 하루 느꼈던 감정들을 기록하고자 할 때<br>
위와 같은 수요를 가진 사람들을 가장 효율적으로 연결해주는 서비스입니다.
</div>

<div class="ex3">
    <span class="check">욜로와</span>는 <br>
    여행, 건강, 금융 3개로 나뉘어진 카테고리를 통해 다양한 정보를 얻어가세요!<br>
    또는 <br>
    다이어리를 작성해 오늘 하루 경험하고 느꼈던 부분을 기록해보세요!
    <br><br><br><br>
    그럼 시작해볼까요?<br>
</div>
{% endblock %}