{% extends 'base.html' %}

{% block content%}
      <br>
      <h1> 욜로와란? </h1>
      <h3> 오직 욜로족들을 위한 웹사이트 입니다<br>욜로족들에게 꼭 필요한 정보들만 모았습니다<br>
        저의 앱과 함께라면 미래를 생각하는 욜로족으로 거듭날 수 있습니다!</h3> 
      <br>

      <div class="containter">
          <div class="여행">
            <h1>여행</h1>
            아무내용
          </div>
          <br>

          <div class="건강">
            <h1>건강</h1>
            아무내용
          </div>
          <br>

          <div class="금융">
            <h1>금융</h1>
            아무내용
          </div>
          <br>

          <div class="쇼핑">
            <h1>쇼핑</h1>
            아무내용
          </div>
          <br>
      </div>
      <br>

{% endblock %}